h1 {
    color: rgb(67, 67, 201);
    font-size: 100px;
    font-weight: bolder;
}

h2 {
    color: #134354;
    margin: 50px;
    font-size: x-large;
}

a {
    color: #5eccd6;
    border-bottom: 2px solid transparent;
    transition: 0.5s border-bottom;
}

mat-toolbar {
    background-color: transparent;
    display: flex;
    justify-content: right;
}

.background {
    align-items: center;
    background-image: url("/assets/mountains1.png");
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 64px);
    padding-top: 10%;
}

.btn {
    background-color: #c05dd4;
    border-radius: 20px;
    color: black;
    font-size: medium;
    font-weight: 500;
    padding: 20px 40px;
    text-decoration: none;
    transition: 0.5s background-color;
}

a:hover {
    border-bottom: 2px solid #d7b0e5;
    cursor: pointer;
}

.btn:hover {
    background-color: #d7b0e5;
}